# Publishes the Docker image.

name: Docker ECR Build and Push

on:
  workflow_call:
    inputs:
      rust-binary-name:
        description: 'Name of the binary to build'
        required: true
        type: string
      environment:
        description: 'Environment to deploy to'
        required: true
        type: string  
      requires-private-deps:
        description: 'Requires private dependencies to be fetched, sets up ssh-agent'
        required: false
        default: false
        type: boolean
      dockerfile-path:
        description: 'Dockerfile to use'
        required: false
        default: 'Dockerfile'
        type: string
    secrets: 
      aws-ecr-repository:
        description: 'ECR repository to push to'
        required: true
      aws-ecr-deployer-role-arn:
        description: 'Role ARN to assume for ECR'
        required: true
      SSH_PRIVATE_KEY:
        description: 'SSH private key for fetching private dependencies'
        required: false
      SSH_PRIVATE_KEY_2: 
        description: 'SSH private key for fetching private dependencies'
        required: false
      SSH_PRIVATE_KEY_3:
        description: 'SSH private key for fetching private dependencies'
        required: false

env:
  CARGO_TERM_COLOR: always
  ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPOSITORY }}

jobs:
  build:
    name: build and push
    runs-on: 
      group: init4-runners
    environment: ${{ inputs.environment }}
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.aws-ecr-deployer-role-arn }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Setup ssh-agent
        id: ssh-agent
        if: ${{ inputs.requires-private-deps == true }}
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: |
            ${{ secrets.SSH_PRIVATE_KEY }}            
            ${{ secrets.SSH_PRIVATE_KEY_2 }}
            ${{ secrets.SSH_PRIVATE_KEY_3 }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Setup Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.aws-ecr-repository }}/${{ inputs.rust-binary-name }}
          tags: |
            type=ref,event=branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}
            type=sha,format=short
      - name: Build and push
        if: ${{ inputs.requires-private-deps == false }}
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/arm64
          context: .
          file: ${{ inputs.dockerfile-path }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
        env: 
          CARGO_NET_GIT_FETCH_WITH_CLI: true
      - name: Build and push
        if: ${{ inputs.requires-private-deps == true }}
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/arm64
          context: .
          file: ${{ inputs.dockerfile-path }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
          ssh: | 
            default=${{ env.SSH_AUTH_SOCK }}
        env: 
          CARGO_NET_GIT_FETCH_WITH_CLI: true
              - # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache          
