name: 'Rust Binary Base CI'
on:
  workflow_call:
    inputs:
      rust-channel:
        description: 'Rust channel to use'
        required: false
        default: 'stable'
        type: string
      install-foundry:
        description: 'Installs foundry as a pre-test step'
        required: false
        default: false
        type: boolean
      os:
        description: 'sets the OS'
        required: false
        default: 'ubuntu-latest'
        type: string
      requires-private-deps:
        description: 'Requires private dependencies to be fetched, sets up ssh-agent'
        required: false
        default: false
        type: boolean
      rust-profile:
        description: 'The profile to give to cargo for running, defaults to dev'
        required: false
        default: 'dev'
        type: string
      cargo-build-jobs:
        description: 'The number of concurrent build/compilation jobs, reasonable default is cores/2'
        type: string
        default: '4'
        required: false
    secrets:
      SSH_PRIVATE_KEY:
        description: 'SSH private key for fetching private dependencies'
        required: false
      SSH_PRIVATE_KEY_2:
        description: 'SSH private key for fetching private dependencies'
        required: false
      SSH_PRIVATE_KEY_3:
        description: 'SSH private key for fetching private dependencies'
        required: false

jobs:
  rust-base-checks:
    name: Base Checks
    uses: init4tech/actions/.github/workflows/rust-base.yml@main
    with:
      test-all-features: false
      cargo-build-jobs: ${{ inputs.cargo-build-jobs }}
      rust-channel: ${{ inputs.rust-channel }}
      install-foundry: ${{ inputs.install-foundry }}
      require-lockfile: true
      requires-private-deps: ${{ inputs.requires-private-deps }}
      rust-profile: ${{ inputs.rust-profile }}
    secrets: inherit
  feature-checks:
    name: Feature Checks
    runs-on:
      group: init4-runners
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
        env:
          CARGO_NET_GIT_FETCH_WITH_CLI: true
      - run: cargo clippy --all-targets --all-features
      - run: cargo clippy --all-targets --no-default-features
