name: Solidity Deployment

on:
  workflow_call:
    inputs:
      network:
        description: 'The evm network to deploy to'
        required: true
        type: string
        default: 'holesky'
      environment:
        description: 'Environment to deploy to'
        required: true
        type: string
      forge-deployment-script:
        description: 'Name of the forge deployment script'
        required: true
        type: string
      forge-deployment-signature:
        description: 'Signature of the function to call'
        required: true
        type: string
        default: 'run()'
      deployed-contract:
        description: 'Name of the deployed contract'
        required: true
        type: string
      chain-id: 
        description: 'Chain ID of the network'
        required: true
        type: string
    secrets:
      aws-deployer-role:
        description: 'Role ARN to assume for AWS'
        required: true
      holesky-kms-key-id:
        description: 'KMS key ID for AWS'
        required: true
      holesky-rpc-url:
        description: 'RPC URL for the network'
        required: true
      etherscan-api-key:
        description: 'Etherscan API key'
        required: true
     
permissions:
  contents: write
  id-token: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.aws-deployer-role }}
          aws-region: us-east-1
      - name: Deploy Smart Contract
        env:
          AWS_KMS_KEY_ID: ${{ secrets.holesky-kms-key-id }}
        run: | 
          forge script ${{ inputs.forge-deployment-script }} \
            --sig "${{inputs.forge-deployment-signature}}" \
            --rpc-url ${{ secrets.holesky-rpc-url }} \
            --etherscan-api-key ${{ secrets.etherscan-api-key }} \
            --aws \
            --broadcast \
            --verify
      - name: Upload Transaction Json
        uses: actions/upload-artifact@v4
        with:
          name: transaction-json
          path: broadcast/${{ inputs.deployed-contract }}/${{ inputs.chain-id }}/run-latest.json
      - name: Update Release Notes
        env: 
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          CONTRACT_ADDRESS=$(cat broadcast/${{ inputs.deployed-contract }}/${{ inputs.chain-id }}/run-latest.json | jq '.transactions[0].contractAddress')
          LATEST_TAG=$(gh api repos/:owner/:repo/releases/latest --jq '.tag_name')
          gh release edit $LATEST_TAG --notes-file - <<EOF
          # Deployment Information:
          ### **${{ inputs.deployed-contract }}**: \`${CONTRACT_ADDRESS}\`" 
          [Block Explorer](https://holesky.etherscan.io/address/${CONTRACT_ADDRESS}#code)
          EOF