name: Solidity Base CI

on:
  workflow_call:
    inputs:
      disable-gas-snapshot:
        description: 'Disable failing the build on .gas-snapshot diff'
        required: false
        default: false
        type: boolean
      gas-diff-tolerance:
        description: 'tolerance for gas diff'
        required: false
        default: 1
        type: number
      foundry-profile:
        description: 'Foundry profile to use for testing'
        required: false
        default: 'ci'
        type: string
      fork-url:
        description: 'Fork URL to use for Fork testing.'
        required: false
        default: ''
        type: string

permissions:
  actions: read
  checks: read
  contents: read
  repository-projects: read

env:
  FOUNDRY_PROFILE: ${{ inputs.foundry-profile }}

jobs:
  check:
    strategy:
      fail-fast: true

    name: Solidity Base CI
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        if: ${{ inputs.fork-url == '' }}
        run: |
          forge test -vvv
        id: test

      - name: Run Fork tests
        if: ${{ inputs.fork-url != '' }}
        run: |
          forge test -vvv --fork-url ${{ inputs.fork-url }}
        id: fork-test

      # do not run if disable-gas-snapshot is true
      - name: Compare gas reports
        if: ${{ !inputs.disable-gas-snapshot }}
        run: |
          FOUNDRY_PROFILE=snapshot forge snapshot --check --silent --tolerance ${{ inputs.gas-diff-tolerance }}
        id: gas-snapshot